@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" Context="routeData">
        <Found>
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    <div class="main">
                        <h2>Nejste přihlášeni</h2>
                        <p>Pro pokračování se, prosím, přihlašte.</p>
                        <a class="btn btn-danger" href="select-login">Přihlásit</a>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div class="main">Nahrávám...</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <div class="main">Stránka nenalezena</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
